body{
    background-color: #aa8686;
}

header{
    left:0;
    right:0;
    top:20px;
     background-color: aliceblue;
}

footer{
    left:0;
    right:0;
    bottom:20px;
    background-color: aliceblue;
}

.logo_name{

    float: left;
    display: inline-block;
    background-color: #D9D9D9;
    font-weight: 400;
}

.item{

    background-color: #D9D9D9;
    display: inline-block;
    color:Black;

}

task{
    background-color:#D9D9D9 ;
}

h3{
    color:#815858;

}

p{
    color:black;
}